In [226]:
import pandas as pd
import numpy as np

In [320]:
data = [['Leetcode', 'Buy', 1, 1000], ['Corona Masks', 'Buy', 2, 10], ['Leetcode', 'Sell', 5, 9000], ['Handbags', 'Buy', 17, 30000], ['Corona Masks', 'Sell', 3, 1010], ['Corona Masks', 'Buy', 4, 1000], ['Corona Masks', 'Sell', 5, 500], ['Corona Masks', 'Buy', 6, 1000], ['Handbags', 'Sell', 29, 7000], ['Corona Masks', 'Sell', 10, 10000]]
stocks = pd.DataFrame(data, columns=['stock_name', 'operation', 'operation_day', 'price']).astype({'stock_name':'object', 'operation':'object', 'operation_day':'Int64', 'price':'Int64'})

In [338]:
stocks.groupby(['stock_name', 'operation']).price.sum()

stock_name    operation
Corona Masks  Buy            <NA>
              Sell           9500
Handbags      Buy           18490
              Sell         -23000
Leetcode      Buy           -6000
              Sell           8000
Name: price, dtype: Int64

In [340]:
df = stocks.pivot_table(index='stock_name', columns='operation', values='price', aggfunc='sum')

In [349]:
(df['Sell'] - df['Buy']).reset_index(name = 'Capital_gain_loss')

     stock_name       f
0  Corona Masks    9500
1      Handbags  -23000
2      Leetcode    8000

In [351]:
dic = {'1,2' : 5, '3,4' : 6}

In [353]:
('1,2') in dic

True

In [355]:
dic['1,2']

5